/* ihawp */

/* Semantics? */
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: #222;
}
body, #input {
    font-size: 1.125rem;
    font-family: sans-serif;
    color: #fff;
}
main {
    align-items: center;
}
section {
    width: 100%;
}


/* Flex */
.flex, .ai {
    display: flex;
}
.flex-col {
    flex-direction: column;
}

/* Padding */
.p-1 {
    padding: 1rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5rem;
}
::-webkit-scrollbar-corner {
    background: rgb(0,0,0,0);
}

/* User Text Input Section */
label {
    font-size: 0.9rem;
}
label.left, .ai {
    align-self: start;
}
label.right, .user {
    align-self: end;
}
#input {
    outline: none;
    background: transparent;
    border: none;
    flex-grow: 1;
    resize: none;
    height: 43px;
}

/* Chat Area */
#chat {
    gap: 1rem;
    height: calc(100vh - 75px);
    overflow-x: scroll;
}
.user, .ai {
    line-height: 1.75rem;
    padding: 1rem;
    border-radius: 4px;
}
.user {
    background: white;
    color: #222;
    max-width: 60%;
}
.ai {
    max-width: 70%;
    background: #444;
    flex-wrap: wrap;
    gap: .23rem;
}

@media (min-width: 50em) {
    section {
        width: 50rem;
    }
}

@media (min-width: 75em) {
    section {
        width: 75rem;
    }
}